<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="mapper.MemberMapper">
 	<insert id="insert">
 	 	insert into tbl_member(id, pw, email, name, tel) values (#{id}, #{pw}, #{email}, #{name}, #{tel})
 	</insert>
	
 	<select id="findById" resultType="member">
 		select * from tbl_member where id = #{id}
 	</select> 
	<select id="findByNo" resultType="member">
 		select * from tbl_member where mno = #{mno}
 	</select> 
 	 	
 </mapper>